# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_NAME=compras_db
DB_USER=postgres
DB_PASSWORD=postgres

# File Paths
CSV_PATH=/app/data/data_prueba_técnica.csv
PARQUET_PATH=/app/data/extracted.parquet

# Batch Processing
BATCH_SIZE=10000